.light-medium-contrast {
  --md-sys-color-primary: rgb(45 35 192);
  --md-sys-color-surface-tint: rgb(76 72 220);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(89 86 233);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(60 60 120);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(110 110 174);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(121 0 126);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(171 58 172);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 35);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(27 27 35);
  --md-sys-color-surface-variant: rgb(227 224 244);
  --md-sys-color-on-surface-variant: rgb(66 65 81);
  --md-sys-color-outline: rgb(94 93 110);
  --md-sys-color-outline-variant: rgb(122 121 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 47 57);
  --md-sys-color-inverse-on-surface: rgb(242 239 252);
  --md-sys-color-inverse-primary: rgb(194 193 255);
  --md-sys-color-primary-fixed: rgb(99 97 243);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(73 69 217);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(110 110 174);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(86 86 147);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(182 69 183);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(153 40 155);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(219 216 229);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 254);
  --md-sys-color-surface-container: rgb(240 236 249);
  --md-sys-color-surface-container-high: rgb(234 230 243);
  --md-sys-color-surface-container-highest: rgb(228 225 237);
  --md-extended-color-custom-color1-color: rgb(0 77 54);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(37 131 98);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(0 77 57);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(0 133 101);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
}
