.light {
  --md-sys-color-primary: rgb(50 42 196);
  --md-sys-color-surface-tint: rgb(76 72 220);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(89 86 233);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(88 88 150);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(194 193 255);
  --md-sys-color-on-secondary-container: rgb(48 47 106);
  --md-sys-color-tertiary: rgb(128 3 132);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(171 58 172);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 35);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(27 27 35);
  --md-sys-color-surface-variant: rgb(227 224 244);
  --md-sys-color-on-surface-variant: rgb(70 69 85);
  --md-sys-color-outline: rgb(119 117 134);
  --md-sys-color-outline-variant: rgb(199 196 215);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 47 57);
  --md-sys-color-inverse-on-surface: rgb(242 239 252);
  --md-sys-color-inverse-primary: rgb(194 193 255);
  --md-sys-color-primary-fixed: rgb(226 223 255);
  --md-sys-color-on-primary-fixed: rgb(12 0 106);
  --md-sys-color-primary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(50 41 196);
  --md-sys-color-secondary-fixed: rgb(226 223 255);
  --md-sys-color-on-secondary-fixed: rgb(20 18 79);
  --md-sys-color-secondary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 64 124);
  --md-sys-color-tertiary-fixed: rgb(255 214 247);
  --md-sys-color-on-tertiary-fixed: rgb(55 0 58);
  --md-sys-color-tertiary-fixed-dim: rgb(255 170 248);
  --md-sys-color-on-tertiary-fixed-variant: rgb(127 2 132);
  --md-sys-color-surface-dim: rgb(219 216 229);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 254);
  --md-sys-color-surface-container: rgb(240 236 249);
  --md-sys-color-surface-container-high: rgb(234 230 243);
  --md-sys-color-surface-container-highest: rgb(228 225 237);
  --md-extended-color-custom-color1-color: rgb(0 108 78);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(162 252 212);
  --md-extended-color-custom-color1-on-color-container: rgb(0 88 62);
  --md-extended-color-custom-color2-color: rgb(0 108 82);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(69 247 196);
  --md-extended-color-custom-color2-on-color-container: rgb(0 78 59);
}
